@import "../../../styles/lib.scss";

.Spinner__container {
    .Spinner {
        width: 34px;
        margin: 0;
    }

    &--size {
        &-xl {
            .Spinner {
                width: 100px;
            }
        }
    }

    &--spin {
        .Spinner {
            animation: spin 50s linear infinite;
        }
    }
}

@keyframes spin {
    to { transform: rotate(6080deg); }
}