@import "../../styles/lib.scss";

.ContestantMap {
    height: 300px; //otherwise will increase height continuously
    max-width: 500px;

    img {
        margin: 0 !important;
    }

    &__title {
        margin: 0;
        transform: translateY(20px);
    }

    &__state {
        fill: $pink-200;
        stroke: $pink-200;
    }

    &__head {
        transform: translate(-20px, -20px);
    }
}