@import "../../styles/lib.scss";

.ContestantMap {
    height: 100px; //otherwise will increase height continuously
    width: 160px;

    img {
        margin: 0 !important;
    }

    &__title {
        margin: 0;
        transform: translateY(20px);
    }

    &__state {
        fill: $pink-200;
        stroke: $pink-200;
    }

    &__head {
        transform: translate(-18px, -18px);

        &--peter {
            transform: translate(-9px, -9px);
        }
    }
}