@import "../../styles/lib.scss";

.ContestantMap {
    height: 64px;
    width: 120px;
    margin-top: 0.75em;
    margin-bottom: 0em;

    @media(min-width: 501px) {
        height: 120px;
        width: 210px;
    }

    img {
        margin: 0 !important;
    }

    &__title {
        margin: 0;
        transform: translateY(20px);
    }

    &__state {
        fill: $pink-200;
        stroke: $pink-200;
    }

    &__head {
        transform: translate(-18px, -18px);

        &--peter {
            transform: translate(-9px, -9px);
        }
    }
}