@import "../../styles/lib.scss";

.CrochetChart {
    &.Chart {
        overflow: visible;

        &__container {
            position: relative;
        }

        circle {
            opacity: 0.75;

            &:hover {
                opacity: 1;
            }
        }
    }
}