@import "../../styles/lib.scss";

.BookCard {
    display: inline-block;
    background: white;
    border: 1px solid $grey-100;
    padding: 10px 14px;
    border-radius: 8px;
    margin-right: 10px;
    margin-bottom: 10px;
    box-shadow: $box-shadow;
    transition: all 150ms ease-out;

    &__title {
        font-weight: 700;
        margin-right: 3px;
        //font-style: italic;
        margin-bottom: 6px;
        font-size: 1em;
    }

    &__author {
        font-size: 0.9em;
    }

    &GenreTags__container {
        margin-top: 4px;
        margin-bottom: 2px;
        display: flex;
        align-items: center;
    }

    &__icon {
        margin-left: 7px;
        font-size: 0.85em;
        color: $grey-700;

        &s {
            margin-left: auto;
        }

        &--progress {
            color: $grey-400;
        }
    }
}