.Link {
    cursor: pointer;
    color: currentColor;
    text-decoration: none;
    position: relative;
    display: inline-block;

    &:after {
        position: absolute;
        content: "";
        height: 1px;
        width: 100%;
        background: currentColor;
        left: 0;
        bottom: 0;
    }

    &:visited,
    &:hover {
        color: currentColor;
    }

    &--is-button {
        &:after {
            background: none;
        }
    }
}