.Link {
    cursor: pointer;
    color: currentColor;
    background: linear-gradient(to right, rgba(0, 0, 0, .84) 100%, rgba(0, 0, 0, 0) 0);
    background-size: .0625em .0625em;
    background-repeat: repeat-x;
    background-position: 0px calc(1em - 1px);
    text-decoration: none;

    &:visited,
    &:hover {
        color: currentColor;
    }
}