@import "./../../../styles/lib";

.MaxWidth {
    &--size {
        //MaxWidth 740px
        &-xs {
            max-width: $post-max-width;
            margin: 0 auto;
            width: 100%;
            padding-left: 4em;
            padding-right: 4em;

            @media(max-width: 600px) {
                padding-left: 1.25em;
                padding-right: 1.25em;
            }
        }


        &-s {
            max-width: 1115px;
            margin: 0 auto;
            width: 100%;
            padding-left: 4em;
            padding-right: 4em;

            @media(max-width: 600px) {
                padding-left: 1.25em;
                padding-right: 1.25em;
            }
        }

        //MaxWidth 1400px
        &-m {
            max-width: 1400px;
            margin: 0 auto;
            width: 100%;
            padding-left: 4em;
            padding-right: 4em;

            @media(max-width: 600px) {
                padding-left: 1.25em;
                padding-right: 1.25em;
            }
        }

        //Full width, left/right padding
        &-l {
            width: 100%;
            padding-left: 4em;
            padding-right: 4em;

            @media(max-width: 600px) {
                padding-left: 1.25em;
                padding-right: 1.25em;
            }
        }

        //Full width, full bleed
        &-xl {
            width: 100%;

            @media(max-width: 600px) {
                padding-left: 1.25em;
                padding-right: 1.25em;
            }
        }
    }
}