@import "./../../../styles/lib";

.MaxWidth {
    &--size {
        //MaxWidth 740px
        &-xs {
            max-width: $post-max-width;
            margin: 0 auto;
            width: 100%;
            padding-left: 4em;
            padding-right: 4em;

            @media(max-width: 600px) {
                padding-left: 1.25em;
                padding-right: 1.25em;
            }
        }


        &-s {
            max-width: 1150px;
            margin: 0 auto;
            width: 100%;
            padding-left: 4em;
            padding-right: 4em;

            @media(max-width: 600px) {
                padding-left: 1.25em;
                padding-right: 1.25em;
            }
        }

        //MaxWidth 1340px
        &-m {
            max-width: 1300px;
            margin: 0 auto;
            width: 100%;
            padding-left: 4em;
            padding-right: 4em;

            @media(max-width: 1400px) {
                padding-left: 8em;
            }

            @media(max-width: 900px) {
                padding-left: 9em;
            }

            @media(max-width: 600px) {
                padding-left: 1.25em;
                padding-right: 1.25em;
            }
        }

        // //MaxWidth 100% but without padding bleed
        // &-ml {
        //     width: 100%;
        // }

        //Full width, left/right padding
        &-l {
            width: 100%;
            padding-left: 4rem;
            padding-right: 4rem;

            @media(max-width: 600px) {
                padding-left: 1.25rem;
                padding-right: 1.25rem;
            }
        }

        //Full width, full bleed
        &-xl {
            width: 100%;

            @media(max-width: 600px) {
                padding-left: 1.25em;
                padding-right: 1.25em;
            }
        }
    }
}