@import "../../../styles/lib.scss";

.DvsIcon {
   width: 100%;
   margin: 0;

   &__container {
        width: 50px;
        height: 35px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
   }
}