@import "../../../styles/lib.scss";

.Button {
    font-weight: 600;
    border: 1px solid transparent;
    transition: all 150ms ease-out;
    font-family: "Circular", sans-serif;

    &--shape {
        &-round {
            border-radius: 20px;
        }

        &-square {
            border-radius: 4px;
        }
    }

    &--size {
        &-large {
            font-size: 1em;
            padding: 0.65em 1.5em 0.7em;

            &:hover {
                transform: translateY(-2px);
            }
        }

        &-small {
            font-size: 0.95em;
            padding: 0.45em 1.25em 0.5em;
        }
    }

    &--primary {
        color: $white;
        background: $blue-500;
        border-color: $blue;

        &:hover {
            background: desaturate(darken($blue-500, 8%), 20%);
            border-color: desaturate(darken($blue, 8%), 20%);
            cursor: pointer;
        }

        &.Button--size-large {
            &:hover {
                background: $blue-500;
                border-color: $blue-500;
                box-shadow: $box-shadow__button--blue;
            }
        }
    }

    &--secondary {
        color: $blue-500;
        background: transparent;
        background: $white;
        border-color: $blue-500;

        &:hover {
            box-shadow: $box-shadow__button--grey;
            cursor: pointer;
        }

        &.Button--size-large {
            background: $blue-100;

            &:hover {
                box-shadow: $box-shadow__button--blue;
            }
        }
    }

    &--secondary--white {
        color: $white;
        background: transparent;;
        border-color: $white;

        &:hover {
            background: rgba($white, 0.075);
            transition: all 150ms ease-out;
            cursor: pointer;
        }
    }

    &:focus {
        outline: none;
    }
}