@import "./../../../styles/lib";

.Modal {
    &Context {
        position: absolute;
        z-index: 0;
        top: 0;
        left: 0;
        right: 0;
        height: 100%;
    }

    &__container {
        position: fixed;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
    }

    &__overlay {
        animation: 200ms ease-out;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        cursor: pointer;
        z-index: 1;
        background: rgba(0, 0, 0, 0.75);
    }

    &__content {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 100vh;
    }

    &__dialog {
        background: white;
        border-radius: 5px;
        padding: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 20;
        //pointer-events: none;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__button {
        cursor: pointer;
        width: 100%;

        &--mobile-only {
            display: none;

            @media(max-width: 600px) {
                display: block;
            }
        }
    }

    &__close {
        position: absolute;
        top: 0em;
        right: 0em;
        width: 4em;
        height: 4em;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0.5;

        &:hover {
            cursor: pointer;
            color: $pink-400;
            opacity: 1;
        }

        @media(max-width: 600px) {
            display: none;
        }
    }
}