@import "../../styles/lib.scss";

.SpinningPets {
    display: flex;
    justify-content: center;

    &__container {
        display: flex;
        align-items: center;
    }

    &__pet {
        margin-left: 1em;
        margin-right: 1em;
        transition: 150ms ease-out all;

        &:hover {
            transform: scale(1.5);
            transition: 150ms ease-out all;
            z-index: 1;
        }
    }

    &__message {
        width: 160px;
        margin: 0 auto;
        text-align: left;
        transform: translateX(17px);
    }
}