@import "./../../styles/lib";

.Timeline {
    height: 500px;
    min-width: 500px;
    width: calc(100% + 1em);
    //margin-bottom: 2em;
    width: 100%;
    position: relative;
    font-family: "Inter", sans-serif;

    svg text {
        fill: #969696;
    }

    .y-axis-label {
        font-size: 0.8em;
        text-anchor: middle;
        transform: rotate(-90deg);
    }

    .axis {
        color: #E0E0E0;
    }

    .tick {
        color: #E0E0E0;
    }

    .Axis__tick {
        text-anchor: middle;
    }

    .AxisHorizontal,
    .AxisVertical {
        font-size: 0.75em;

        .Axis__line {
            stroke: #E0E0E0;
        }
    }

    .Line {
        &--type {
            &-line {
                fill: none;
                stroke-width: 1.5px;
                stroke-linecap: round;
            }
        }
    }

    &__hover-line {
        fill: rgba(#000000, 0.25);
        transition: all 0.15s ease-out;
        opacity: 0.5;
        pointer-events: none;
    }
}