//@import "../../styles/colors.scss";
@import "./../../styles/lib";

.PageDetail {
    justify-self: end;
    text-align: left;
    padding-top: 4.75rem;
    font-size: 0.85rem;

    &__container {
        width: 100%;
        margin: 0 auto;
        max-width: $post-max-width;
        height: 0;
        top: 0em;
    }

    &__link {
        color: $grey-900;
        display: block;
        font-weight: 400;
        margin-bottom: 1em;

        &:not(.PostLinks__link__button) {
            font-size: 0.9em;
            text-decoration: underline;
        }

        &:after {
            background: none;
        }

        &:hover {
            color: $blue-600;
        }

        &:visited {
            //color: $blue-600;
        }
    }

    &__item {
        margin-bottom: 4em;

        &__title {
            padding: 0 0px;
            margin-top: 0;
            font-size: 1.1em;
            //font-family: "Circular", sans-serif;
            //letter-spacing: -0.005em;
            font-weight: 700;
        }

        &__content {
            padding: 0 0px;
            margin-top: 1em;
            margin-bottom: 2em;
        }

        &__team {
            &__title {
                font-weight: 500;
                color: #4656e8;
            }

            &__role {
                font-size: 0.85em;
                //font-weight: 500;
                //color: $grey-700;
                line-height: 1.4;
                margin-top: 0.5em;
            }
        }
    }

    @media(max-width: 1000px) {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        &__container {
            height: auto;
        }

        &__item {
            &__content {
                margin-bottom: 0;
            }

            &__list {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                grid-column-gap: 2em;
            }
        }
    }

    @media(max-width: 700px) {
        padding-top: 2em;

        &__item {
            margin-bottom: 0;

            &__title {
                font-size: 1em;
            }

            &__list {
                margin-top: 1em;
                grid-template-columns: 1fr 1fr;
                grid-column-gap: 2em;
            }
        }
    }

    @media(max-width: 600px) {
        &__item {
            margin-right: 1em;

            &__content {
                margin-top: 0em;
                margin-bottom: 2em;
                font-size: 0.9em;
            }
        }
    }
}