@import "./../../styles/lib";

.Header {
    &__container {
        padding-top: 2em;
        padding-bottom: 2em;
    }

    &__content {
        display: flex;
        justify-content: space-between;
    }

    &__logo {
        text-decoration: none;

        .Logo {
            transition: background 100ms ease-in-out;

            .LogoType {
                transition: transform 100ms ease-in-out;
            }

            &:hover {
                background: $blue-600;
                transition: background 250ms ease-in-out;

                .LogoType {
                    transform: translateY(-4px);
                    transition: transform 250ms ease-in-out;
                }
            }
        }
    }

    &__links {
        display: grid;
        grid-template-columns: repeat(3, auto);
        grid-gap: 7em;
        grid-gap: 4em;
        justify-content: flex-end;
        width: 100%;

        a {
            color: currentColor;
            text-decoration: none;
            border-bottom: 3px solid transparent;
            font-weight: 600;
            font-size: 0.95em;
            height: 100%;
            padding-bottom: 1.25em;
            padding-top: 0.25em;
            display: block;
            position: relative;

            &:after {
                position: absolute;
                content: "";
                bottom: 0;
                width: 18px;
                height: 3px;
                background: transparent;
                bottom: -3px;
                right: 50%;
                margin-right: -9px;
                transition: 100ms ease-in-out background;
            }

            &:hover {
                &:after {
                    background: $blue-500;
                    transition: 100ms ease-in-out background;
                }
            }

            &.Link--is-active {
                &:after {
                    background: $blue-500;
                    transition: 100ms ease-in-out background;
                }
            }
        }
    }
}