@import "../../styles/lib.scss";

.Intro {
    margin-top: 16vh;
    padding-bottom: 0em;
    padding-bottom: 6vh;
    //min-height: calc(#{100vh} - 170px);
    display: flex;
    flex-direction: column;
    color: $blue-900;

    @media(max-width: 768px) {
        min-height: calc(#{100vh} - 170px);
    }

    @media(max-width: 500px) {
        min-height: 27em;
        padding-bottom: 2em;
    }

    &__contact {
        display: flex;
        width: 100%;
        margin-top: 2em;

        .Button {
            margin-right: 1em;
        }

        @media(max-width: 768px) {
            justify-content: center;
        }
    }

    &__header {
        font-size: 4.7em;
        font-weight: 900;
        line-height: 1.1;
        max-width: 100%;
        transition: font-size 100ms ease-out;
        margin-top: 1rem;
        margin-bottom: 2.75rem;

        @media(max-width: 960px) {
            font-size: 3.75em;
            transition: font-size 100ms ease-out;
        }

        @media(max-width: 768px) {
            font-size: 3em;
            line-height: 1.2;
            transition: font-size 100ms ease-out;
        }

        @media(max-width: 500px) {
            font-size: 2em;
            line-height: 1.2;
            transition: font-size 100ms ease-out;
        }
    }

    &__subheader {
        font-weight: 400;
        font-family: "Inter", sans-serif;
        margin: 0;
        animation: fade--up 1s ease-out;
        max-width: 810px;
        line-height: 1.8;

        &::selection {
            background: $salmon;
            color: rgba($grey-900, 0.75);
        }
    }

    &__button {
        animation: fade--up 1s ease-out;
    }

    &--animate {
        .Intro {
            &__avatar {
                animation: avatar--fade--shrink;
                opacity: 0;
            }
        }
    }
}

@keyframes avatar--fade--shrink {
    0% {
        opacity: 1;
        height: 80px;
    }

    50% {
        opacity: 0;
        height: 80px;
    }

    100% {
        opacity: 0;
        height: 0;
    }
}