@import "../../styles/lib.scss";

.Intro {
    height: calc(#{100vh} - 200px);
    color: $blue-900;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media(min-width: 601px) {
        padding-left: 9em;
    }

    @media(max-width: 768px) {
        min-height: calc(#{100vh} - 170px);
    }

    @media(min-width: 769px) {
        padding-left: 8em;
    }

    @media(max-width: 500px) {
        min-height: 27em;
        padding-bottom: 2em;
    }

    &__greeting {
        opacity: 0;
        animation: fadeUpMedium 1000ms ease-in-out;
        animation-fill-mode: forwards;
        font-family: 'Space Mono', monospace;
        font-weight: 500;
        font-size: 1.4em;
    }

    &__header {
        max-width: 100%;
        transition: font-size 100ms ease-out;
        margin-top: 1rem;
        margin-bottom: 2.75rem;
        opacity: 0;
        animation: fadeUpSmall 800ms ease-in-out;
        animation-fill-mode: forwards;
        animation-delay: 100ms;

        @media(min-width: 1100px) {
            font-size: 5.35em;
        }
    }

    &__subheader {
        font-weight: 400;
        margin: 0;
        margin-bottom: 2em;
        animation: fade--up 1s ease-out;
        max-width: 880px;
        line-height: 1.8;
        opacity: 0;
        animation: fadeUpSmall 800ms ease-in-out;
        animation-fill-mode: forwards;
        animation-delay: 250ms;
    }

    &__button {
        opacity: 0;
        animation: fadeUpSmall 800ms ease-in-out;
        animation-fill-mode: forwards;
        animation-delay: 250ms;
        display: inline-block;
        position: relative;

        &__arrow {
            position: absolute;
        }

        &:hover {
            transform: translateY(10px);
        }
    }
}

@keyframes avatar--fade--shrink {
    0% {
        opacity: 1;
        height: 80px;
    }

    50% {
        opacity: 0;
        height: 80px;
    }

    100% {
        opacity: 0;
        height: 0;
    }
}