@import "../../styles/lib.scss";

.Footer {
    margin-top: 5em;
    padding-left: $padding-horizontal;
    padding-right: $padding-horizontal;
    // padding-top: 1.75em;
    // padding-bottom: 1.75em;
    height: $footer-height-desktop;
    transition: all 150ms linear;
    transition: all 150ms linear;
    background: $blue-500;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $blue-300;
    font-weight: 500;
    font-size: 0.7em;
    line-height: 180%;
    letter-spacing: 0.065em;
    text-transform: uppercase;

    @media(max-width: 850px) {
        flex-direction: column;
    }

    &__container {
        width: 100%;
        margin-top: auto;
    }

    &__section {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &__links {
            width: 100%;
            max-width: 600px;

            @media(max-width: $media-tablet) {
                max-width: 100%;
            }
        }

        &__contact {
            flex: 1 0 25%;
            justify-content: flex-end;
        }
    }

    &__label {
        @media(max-width: $media-tablet) {
            margin-bottom: 2em;
        }
    }

    &__link {
        font-weight: 600;
        text-decoration: none;
        padding: 10px 10px;
        text-decoration: none;

        &:visited {
        }

        &:hover {
            border-radius: 20px;
            background: #0000000f;
        }
    }

    &__copyright {
        &__container {
            line-height: 180%;
            text-align: right;

            @media(max-width: 850px) {
                font-size: 9px;
            }
        }

        &__link {
            text-decoration: none;

            &:visited {
            }

            &:hover {
                opacity: 1;
            }
        }

        @media(min-width: 1700px) {
            max-width: $max-width__content--l;
        }
    }

    @media(max-width: 700px) {
        display: flex;
        flex-direction: column;
        height: $footer-height-mobile;
        padding: 1em 0;

        &__container {
            padding-top: 2em;
        }

        &__section {
            flex-wrap: wrap;

            &__contact {
                flex-direction: column;
                margin-top: 2em;
                margin-bottom: 2em;
            }
        }
    }
}