@import "./../../../styles/lib";

.Logo {
    background: $blue-500;
    width: 60px;
    height: 51px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 9px 12px;
    transition: all 100ms ease-in;
    position: relative;
    overflow: hidden;

    &__type {
        font-size: 18px;
        font-weight: 800;
        color: white;
        text-decoration: none;
        line-height: 1;
        transition: all 100ms ease-in-out;
    }

    // &__dot {
    //     content: "";
    //     position: absolute;
    //     width: 40px;
    //     height: 40px;
    //     border-radius: 40px;
    //     opacity: 0;
    //     mix-blend-mode: multiply;
    //     transition: all 250ms ease-in-out;
    //     top: 50%;
    //     margin-top: -20px;

    //     &--yellow {
    //         background: #87FFE9;
    //         z-index: 8;
    //         left: -5px;
    //     }

    //     &--magenta {
    //         background: #FA00FF;
    //         z-index: 10;
    //         right: -5px;
    //     }
    // }

    &:hover {
        background: $salmon;
        transition: background 200ms ease-in;

        // .Logo__type {
        //     transform: translate(4px, -1px);
        //     transition: all 250ms ease-in-out;
        //     font-size: 29px;
        // }

        // .Logo__dot {
        //     opacity: 0.9;

        //     &--magenta {
        //         animation: magenta 2.5s infinite cubic-bezier(0.02, 0.01, 0.21, 1);
        //     }

        //     &--yellow {
        //         animation: yellow 2.5s infinite cubic-bezier(0.02, 0.01, 0.21, 1);
        //     }
        // }
    }

    @keyframes magenta {
        50% {
            animation-timing-function: cubic-bezier(0.3, 0.27, 0.07, 1.64);
            transform: translateX(-50px);
        }
    }

    @keyframes yellow {
        50% {
            animation-timing-function: cubic-bezier(0.3, 0.27, 0.07, 1.64);
            transform: translateX(50px);
        }
    }
}