//@import "../../styles/colors.scss";
@import "./../../styles/lib";

.PostLinks {
    position: absolute;
    left: 0;
    transform: translateX(-170%);
    max-width: 11em;
    justify-self: end;
    text-align: left;

    &__container {
        width: 100%;
        margin: 0 auto;
        padding: 0 20px;
        max-width: $post-max-width;
        height: 0;
        position: sticky;
        top: 2em;
    }

    &__link {
        color: $grey-900;
        display: block;
        font-weight: 400;
        margin-bottom: 1em;

        &:not(.PostLinks__link__button) {
            font-size: 0.9em;
            text-decoration: underline;
        }

        &:after {
            background: none;
        }

        &:hover {
            color: $blue-600;
        }

        &:visited {
            //color: $blue-600;
        }
    }

    @media(max-width: 1250px) {
        transform: translateX(-130%);
    }

    @media(max-width: 1130px) {
        display: none;
        // right: unset;
        // left: unset;
        // max-width: $post-max-width;
        // width: 100%;
        // margin: 0 auto;
        // position: relative;
        // display: flex;

        // &__container {
        //     top: 0;
        //     max-width: 100%;
        //     height: auto;
        //     width: 100%;
        //     background: blue;
        // }

        // &__item {
        //     margin-right: 1.5em;
        // }
    }
}