@import "../../styles/lib.scss";

.PostGoal {
    &s {
        margin-top: 3em;
        margin-bottom: 0em;
        background: $grey-200;
        padding-top: 1em;
        padding-bottom: 1.25em;
        border-radius: 10px;
        padding-left: 2em;
        padding-right: 2em;
    }

    margin-bottom: 1em;
    max-width: 740px;
    padding-left: 20px;
    padding-right: 20px;

    &__title {
        margin-bottom: 1em !important;
    }
}