@import "../../../styles/lib.scss";

.Label {
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-size: 0.8em;

    &--primary {
        color: $grey-900;
        font-weight: 700;
    }

    &--secondary {
        color: $grey-600;
    }

    &--heading {
        border-bottom: 1px solid $grey-800;
        padding-bottom: 10px;
    }

    &--table {
        font-size: 0.7em;
        color: $grey-600;
        font-weight: 600;
    }
}
